#matching-restaurants {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #bbb;
    overflow-y:scroll;
    overflow-x:hidden;
    height:90vh;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
#matching-restaurants::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#matching-restaurants {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#matching-restaurants div {
    display: flex;
    color:yellow;
    white-space:pre;
    cursor:pointer;
}

#matching-restaurants div:hover {
    background-color: #003264;
}

#matching-restaurants div span {
    flex: 1;
}

#matching-restaurants div span:first-of-type {
    text-align: right;
    color:white;
}

#matching-restaurants div span:last-of-type {
    text-align:left;
    color:white;
}